<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Clients</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Clients</h3>

    <hr/>
    <a th:href="@{/addClientForm}" class="btn btn-primary">Add Client</a>
    <br/><br/>
    <table class="table table-bordered table-striped table-responsive" id="clientTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clients: ${clients}">
            <td th:text="${clients.getId()}" />
            <td th:text="${clients.getName()}" />
            <td th:text="${clients.getEmail()}" />
            <td th:text="${clients.getAddress()}" />
            <td th:text="${clients.getCity()}" />
            <td th:text="${clients.getState()}" />
            <td th:text="${clients.getZipcode()}" />
            <td th:text="${clients.getPhone_no()}" />
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#clientTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>

</html>